<html>
	<head>
		<title>#MobBook-About</title>
		<meta name="viewport" Content="width=device-width, inital-scale=0.1">
		<link rel="stylesheet" href="/static/bootstrap.css" media="screen">
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<form action="" method="post">
		<div class = "col-md-6">
			<div class="panel panel-default">
  			<div class="panel-heading">Companys</div>
  			<table class="table">
  				<tr>
  				{% for k in TableKeys %}
  				<td>{{k}}</td>
  				{% endfor %}
  				<td>Edit</td><td>Remove</td></tr>
  				{% for o in FullTable %}
  				<tr>
  				{% for k in TableKeys %}
  				<td>{{o[k]}}</td>
  				{% endfor %}
  				<td><button class="btn btn-default" role="button" type="submit" name="BtnEditEntry" value="{{o.ID}}">Edit</button></td><td><button class="btn btn-default" role="button" type="submit" name="BtnRemoveEntry" value="{{o.ID}}">X</button></td></tr>
  				{% endfor %}
  			</table>
			</div>
		</div>
		
		<div class = "jumbotron col-md-6">
			<div class="input-group">
				{% for k in TableKeys %}
      			{% if (k != "ID") %}
      			<input type="text" class="form-control" placeholder="{{k}}" name="TxtRowInfo{{k}}">
      			{% endif %}
      			{% endfor %}
    		<span class="input-group-btn">
        		<button class="btn btn-default" role="button" type="submit" name="BtnCreate">Add</button>
      		</span>
      	</div>
   		</div>
   	</form>
	</body>
<html>